# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
models/*.pkl
data/features.csv

# Large datasets
data/features_v2.csv
data/raw_urls_v2.csv
data/top-1m.csv
data/modern_urls.csv

# Jupyter
notebooks/.ipynb_checkpoints/

# Python model files (optional if you don't want to track them)
*.pkl